/hyperleda_s07.tgz
/s19_hyperleda.tgz
/s20_hyperleda_cam1_ccd1.tgz
/s20_hyperleda_cam1_ccd234.tgz
/s20_hyperleda_cam2_ccd1.tgz
/s20_hyperleda_cam2_ccd234.tgz
/s20_hyperleda_cam3.tgz
/s20_hyperleda_cam4.tgz
/s2_hyperleda_cam1.tgz
/s2_hyperleda_cam2.tgz
/s2_hyperleda_cam3.tgz
/s2_hyperleda_cam4.tgz
/s3_hyperleda_cam1_ccd12.tgz
/s3_hyperleda_cam1_ccd34.tgz
/s3_hyperleda_cam2.tgz
/s3_hyperleda_cam3.tgz
/s3_hyperleda_cam4.tgz
/s5_hyperleda_cam1.tgz
/s5_hyperleda_cam2.tgz
/s5_hyperleda_cam3.tgz
/s5_hyperleda_cam4.tgz
/s6_hyperleda_cam1.tgz
/s6_hyperleda_cam2.tgz
/s6_hyperleda_cam3.tgz
/s6_hyperleda_cam4.tgz
/s7_hyperleda.tgz
